# Configuration de l'expéditeur (Gmail recommandé avec mot de passe d'application)
EMAIL_USER=haytam.hadad.2022@gmail.com
EMAIL_PASS=1234567812345678

# Email de secours (utilisé si aucun pompier n'est enregistré en base)
EMAIL_RECEIVER=haytam.hadad.2022@gmail.com
